body {
    background-color: #8fc0a9;
    text-align: center;
    font-family: 'DejaVu Sans Mono', monospace;
}

h1, h2, h3 {
    font-family: 'Century Gothic', sans-serif;    
}

h1 {
    font-size: 480%;
    padding: 1%;
}

hr {
    border:  dashed #faf3dd;
}

.button {
    background-color: #ffff;
    padding: 1%;
    text-decoration-color: black;
    cursor: pointer;
    border:7px solid #c8d5b9;
    border-radius: 60px;
    font-family:'Century Gothic', sans-serif;
    font-size: 2em
}

#title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1%;
    padding-top: 3%;
}

#heading2 {
    font-size: 200%;
}

#topDiv {
    margin-top: 5%;
    margin-bottom: 3%;
    height: 100%;
}

#logo {
    width: 17%;
}

#tablepic {
    height: 30%;
    padding-bottom: 1%;
}

#intro {
    width: 40%;
    border-radius: 60px;
    background-color: #faf3dd;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    font-size: 120%;
}

#introduction {
    display: flex;
    justify-content: center;
}

#introduction1 {
    background-color:antiquewhite;
    width:40%;
    text-align: right;
    padding:2.5em;
}

#introduction1 h2 {
    font-size: 2.25em;
    padding-top: 1em;
}

#introduction1 p {
    font-size: 1.15em;
}

#prototype {
    display:flex;
    justify-content:center;
}

#prototype1 {
    background-color: #faf3dd;
    padding: 2%;
    width:65%;
}

#prototype1 h2 {
    font-size: 3em;
}

#prototype p {
    font-size: 2em;
}

#mentorcloud {
    width: 35%
}

#mentors {
    text-align: center;
    background-color: #c8d5b9;
    width: 90%;
    height: 100%;
    padding-bottom: 8%;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

#mentorpic {
    width: 18%;
    float: left;
    padding-left: 1%;
    padding: 2%;
    border: dashed #faf3dd; 
}

#result, #resultx {
    cursor: pointer;
}

#mentorprofile {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    align-content: flex-start;
    justify-content: space-between;
    padding-left: 2%;
}

#mentorpic-right {
    float: right;
    width: 18%;
    padding-right: 1%;
    padding: 2%;
    border: dashed #faf3dd;
}

#mentorprofile-right {
    display: flex;
    flex-flow: column nowrap;
    text-align: right;
    padding-right: 2%;
}

#mentorprofile h3 {
    font-size: 2.5em;
}

#mentorprofile h4 {
    font-size: 1.75em;
}

#mentorprofile-right h3 {
    font-size: 2.5em;
}

#mentorprofile-right h4 {
    font-size: 1.75em;
}

.rating-star1 {
	width: 2em;
}

.rating-star {
    width: 2em;
}

#mc_embed_signup {
    background:#faf3dd; 
    padding: 1%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#signup-title {
    font-size: 2.5em;
}
